*{
    line-height: 1.5;
    margin-bottom: 1.5;
    margin-top: 0;
}

body{
    text-align:center;
    font-family: 'Bree Serif', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(37, 37, 37);
    background-color: slategray;
    background-image: url("fondo2.png");
    margin: 0px;
    background-size: 100% 100%;
}

.container{
    margin: 0px auto;
    width: 800px;
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-style: bold;
    font-kerning: normal;
    font-size: 36px;
    margin: 0px auto;
    margin-bottom: 27px;
    margin-top: 27px;
    color: rgb(30, 34, 39)
}

h2{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    max-width: 20em;
    line-height: 1.2;
    margin: 0px auto;
    font-size: 27px;
    font-kerning: normal;
    line-height: 54px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(30, 34, 39)            
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    -webkit-hyphens: auto;  
    -ms-hyphens: auto;
    hyphens: auto;
    font-kerning: normal;
    line-height: 27px;
    margin-bottom: 27px;
    margin-top: 0px;
    
}

article p{
    max-width: 34em;
    text-align: left;
    margin: 0px auto;
    line-height: 1.5;
    color: rgb(30, 34, 39);
    margin-bottom: 27px;           
}

p + p{
    text-indent: 1em;
}

blockquote p{
    text-indent: -0.5em;
}

.grid{
    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
    background-repeat: repeat;
    background-position: left top;
    background-size: 100% 27px;
}